<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Selected</key>
		<integer>2</integer>
		<key>Title</key>
		<string>Gender</string>
		<key>Rows</key>
		<array>
			<string>Male</string>
			<string>Female</string>
			<string>No Preference</string>
		</array>
	</dict>
	<dict>
		<key>Selected</key>
		<integer>2</integer>
		<key>Title</key>
		<string>Age</string>
		<key>Rows</key>
		<array>
			<string>Less than 1 year</string>
			<string>More than 1 year</string>
			<string>No Preference</string>
		</array>
	</dict>
	<dict>
		<key>Selected</key>
		<integer>3</integer>
		<key>Title</key>
		<string>Size</string>
		<key>Rows</key>
		<array>
			<string>Small</string>
			<string>Medium</string>
			<string>Large</string>
			<string>No Preference</string>
		</array>
	</dict>
</array>
</plist>
